body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #eb2a03, #25fc49);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(0,0,0,0.3);
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 350px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background: #00ff2a;
    color: rgb(9, 9, 9);
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #0072ff;
}

.hidden {
    display: none;
}

a {
    color: #00ffcc;
    word-break: break-all;
}